[user]
	name = Alex Norell
	email = alex@norell.co
	signingkey = 2F82120011961CD4ED4CAD4FF1A27C5174A1B06B
[alias]
	dtf = !git --git-dir=$HOME/.dotfiles --work-tree=$HOME
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[push]
	autoSetupRemote = true
	autoSetupRemote = true
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
[gpg]
	program = /opt/homebrew/bin/gpg
[core]
	excludefile = /Users/anorell/.gitignore_global
	excludesfile = /Users/anorell/.gitignore_global
